*{
    font-family: "Open Sans", "Calibri", sans-serif;
    color: white;
}

b {
    color: rgb(235, 89, 5);
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

body{
    background-color: #233348;
}

.accentuatedText{
    color: hsl(214, 100%, 70%);
}

hr {
    height: 5px;
    border: 0;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

img {
    object-fit: cover;
    max-width: 50%;

}

p:first-letter{
    font-size: 1.5em;
}