#topBar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px
}

.btn-table {
    padding: 4px 16px;
}

.table-input-group{
    margin: 0 10px 0 10px;
}

.input-group{
    display: flex; align-items: center
}